<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Select Motorhome</title>
    <link rel="stylesheet" type="text/css" href="css/global.css">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<h1>Select Motorhome</h1>
<a th:href = "@{/showNewMotorhomeForm}" class="btn btn-primary btn-sm mb-3"> Add Motorhome </a>
<a th:href = "@{/admin}" class="btn btn-secondary btn-sm mb-3"> Back to admin page </a>
<table  class="table table-bordered table-responsive-md">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Type</th>
        <th scope="col">Make</th>
        <th scope="col">Model</th>
        <th scope="col">Beds</th>
        <th scope="col">price</th>
        <th scope="col">Actions</th>


    </tr>
    </thead>
    <tbody>
    <tr th:each="motorhome: ${listOfMotorhomes}">
        <td th:text="${motorhome.name}"/>
        <td th:text="${motorhome.motorhomeType.type}"/>
        <td th:text="${motorhome.make}"/>
        <td th:text="${motorhome.model}"/>
        <td th:text="${motorhome.beds}"/>
        <td th:text="${motorhome.price}"/>
        <td>
            <a th:href = "@{/showMotorhomeUpdateForm/{id}(id=${motorhome.id})}" class="btn btn-secondary btn-sm"> Update </a>
            <a th:href = "@{/deleteMotorhome/{id}(id=${motorhome.id})}" class="btn btn-danger btn-sm"> Delete </a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>